// Fonts vars
$default-font: 'Source-Sans-Pro-Regular', sans-serif;
$background: #E5E5E5;
$font-color: #3F3F3F;
$font-size: 16px;

// Link color
$link: #000000;

// Link hover color
$link-hover: #2d56d0;

// Title color
$title: #3F3F3F;

// Text color
$text: #3F3F3F;

// Label color
$label: #49485E;

// Danger color
$danger: #FF8484;

// Success color
$success: #7BAE73;

// disabled color
$disabled: #EEEEEE;

// disabled font color
$disabledText: #B4B4B4;

// block border shadow
$block-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$block-radius: 4px;

// block hover border shadow
$block-hover-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.32);
