// Fonts vars
$default-font: 'Source-Sans-Pro-Regular', sans-serif;
$background: #E5E5E5;
$font-color: #3F3F3F;
$font-size: 16px;

// Link color
$link: #000000;

// Link hover color
$link-hover: #2d56d0;

// Title color
$title: #3F3F3F;

// Text color
$text: #3F3F3F;

// Danger color
$danger: #FF8484;

// Success color
$success: #7BAE73;

// disabled color
$disabled: #EEEEEE;

// disabled font color
$disabledText: #B4B4B4;
